@import "../lib/AdminLTE.min.css";
@import "../lib/plugins/iCheck/square/blue.css";
@import "form.css";

body.login-page {
    background: url('../img/desk.jpg');
    background-size: 100% 100%;
}

.login-box {
    background: rgba(0, 0, 0, 0.4);
    padding: 15px 0 0 0;
}
.login-logo, .register-logo {
    margin-bottom: 0;
}
.login-box-logo {
    /*height: 128px;*/
    margin: 0 auto 10px;
    display: block;
}
.login-box-body {
    background: transparent;
}
.login-box-body .row .checkbox .icheck .icheckbox_square-blue {
    position: relative;
}
.login-box-body, .register-box-body {
    color: #fff;
}
.login-box-msg.alert {
    margin: 0 0 5px;
    padding: 10px;
}
.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio,
.has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label,
.has-error.radio-inline label {
    color: #E86A67;
}